/* ---------------------------------------------------------------- */
/* Colors
/* ---------------------------------------------------------------- */

$theme-colors: (
	blue: 	#3498db,
	orange: #e67e22,
	green: 	#019875,
	red:		#c0392b,
	purple: #9b59b6,
	teal:		#336E7B,
	pink:		#FF66CC,
	brown: 	#964B00,
	slate: 	#708090,
	navy:		#000080,
	black: 	#111111
);

// Customize the colors
@mixin theme-colors( $color ) {
	
	// Color Selectors
	.header-extras li .text span {
		color: $color;
	}

	// Background Color Selectors
	.button,
	#top-cart .badge {
		background-color: $color;
	}

	// Border Color Selectors
	#primary-menu > div > ul > li ul {
		border-top-color: $color;
	}
}

@each $base-color, $color in $theme-colors {
	.base-color-#{$base-color} {
		@include theme-colors( $color );
	}
}