/**!
 * Colors
 * 
 * Replace the HEX Code with your Desired Color HEX
 */

@import "schemes";

$theme-colors: (
    blue:       #3498db,
    light_blue: #83d6ff,
    navy_blue:  #0f68b7,
    teal:       #16807a,
    green:      #019875,
    turquoise:  #5ae898,
    chelseagem: #975732,
    orange:     #e67e22,
    sunglow:    #ffd324,
    red:        #c0392b,
    violet:     #9b59b6,
    pink:       #ea4c89
);

@each $base-color, $color in $theme-colors {
    .base-color-#{$base-color} {
        @include theme-colors( $color );
    }
}