/* ---------------------------------------------------------------- */
/* Foodlist
/* ---------------------------------------------------------------- */

div#menu-toc {
	z-index: 1;
}

nav.table-of-content {
	background-color: #fff;
	margin-top: 20px;

	h2 {
		margin: 0;
		padding: 15px;

		i {
			font-size: .8em;
		}
	}

	ul {
		@include reset-list();
		li {
			border-top: 1px solid #E9E9E9;

			&:first-child {
				border-top: 0;
			}

			a {
				color: color(primary);
				display: block;
				font-weight: bold;
				padding: 15px;

				&:hover {
					background: #F2F2F2;
				}
			}

		}
	}
}

.fl-menu {
	box-shadow: 0 0 0 1px rgba(#ddd, .6);
	overflow: hidden;

	ul {
		list-style: none;
		padding-left: 0;
	}

	.fl-menu-desc {
		margin-top: 20px;
	}

}

article.fl-menu {
	border-radius: 0;
	box-shadow: none;
	overflow: auto;
}

.fl-menu-item {
	.fl-menu-item-image {
		float: left;
		margin: 0 20px 0 0;
		img {
			max-width: 100px;
			&.alignleft {
				float: none;
				margin: 0;
			}
		}
	}

	.fl-menu-item-content {
		position: relative;
		overflow: hidden;
	}

	.fl-menu-item-title {
		h3 {
			font-size: 14px;
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	.fl-menu-item-desc {
		color: #999;
	}

	.fl-menu-item-meta {
		color: color(primary);
		font-size: 14px;
		font-weight: bold;
		margin-top: 10px;

		.fl-menu-item-tags {
			margin-bottom: 10px;
			> span {
				margin-right: 3px;
			}
		}
	}

	.section-full & {
		.fl-menu-item-image {
			img {
				width: 100px;
			}
		}
	}
}

.fl-menu-section {
	background-color: #fff;
	padding: 0 20px 30px;

	> h2 {
		border-bottom: 3px solid rgba(black, .1);
		font-size: 20px;
		margin: 0 -20px 15px;
		padding: 20px 0 20px 0;
		text-transform: uppercase;

		a {
			position: absolute;
			right: 40px;

			&:hover {
				color: color(primary);
			}
		}
	}

	.fl-menu-section-content {
		color: #999;
		margin: 30px 0;
	}

	.fl-menu-items {
		list-style: none;
		padding-left: 0;
		margin-top: 20px;

		li {
			margin-bottom: 50px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.section-full {
			li {
				clear: both;
				position: relative;
				overflow: hidden;
				width: 100%;
			}
		}
	}
}

article.fl-menu-section {
	padding: 0;
}

.fl-menu {
	+ a[href*="flprint"] {
		display: none;
	}
}

/*
 * Medium Mobile Devices 767px - Change to 480px - 8
 */
@media screen and (max-width: 767px) {

	.fl-menu-section {
		ul {		
			li {
			float: none;
			margin-right: 0;
			width: 100%;
			}
		}
	}

}