// Settings
// ------------------------------------------------
@import "all/functions";
@import "all/variables";
@import "all/mixins";

// Body background
body.login {
	background: #EEEEEE;
}

// Login footer text
#login {
	width: 380px;
}

// Footer links
.login #backtoblog a,
.login #nav a {
	color: $color-0;
	&:hover {
		color: saturate($color-0, 5%);
	}
}

.login #backtoblog,
.login #nav {
	text-align: center;
}

#credit {
	color: #2D2E2F;
	font-weight: bold;
	text-align: center;
	a {
		color: $color-0;
		text-decoration: none;
		&:hover {
			color: saturate($color-0, 5%);
		}
	}
}

// Form background
.login form {
	background: #fff;
	border: 1px solid #BABABA;
	border-radius: 6px 6px 0 0;
	// box-shadow: none;
}

.login input[type=text],
.login input[type=password] {
	border-radius: 4px;
}

.login #nav {
	background: #F6F6F6;
	border: 1px solid #BABABA;
	border-top: 0;
	border-radius: 0 0 6px 6px;
	margin: 0;
	padding: 10px 0;	
}

.login #nav a {
	color: #333;
	font-weight: bold;
}

// Form labels
.login form label {
	color: #333;
}

.login form .forgetmenot {
	font-weight: 700;
	float: left;
	margin-bottom: 0;
}

// Logo
.login h1 a {
	$height: 99px; 
	$width: 267px;
	background-image: url('../images/logo.png');
	background-size: $width $height;
	background-position: center top;
	background-repeat: no-repeat;
	color: #999;
	height: $height;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.3em;
	margin: 0 auto 15px;
	padding: 0;
	text-decoration: none;
	width: $width;
	text-indent: -9999px;
	outline: none;
	overflow: hidden;
	display: block;
}

// Buttons
.wp-core-ui .button-primary {
	background: $color-0;
	border-color: $color-0;
	box-shadow: 0px 1px 0px rgba($color-0, 0.5) inset, 0px 1px 0px rgba(0, 0, 0, 0.15);
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover {
	background: $color-0;
	border-color: $color-0;
	box-shadow: 0px 1px 0px rgba($color-0, 0.6) inset;
	color: #fff;
	text-shadow: none;
}

.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
	height: auto;
	font-weight: bold;
	line-height: normal;
	padding: 10px 15px;
}