// ---------------------------------------------------------------- //
// Framework - Variables / Mixins / Functions
// ---------------------------------------------------------------- //

@import "framework";

/* ---------------------------------------------------------------- */
/* Responsive
/* ---------------------------------------------------------------- */

/*
 * Medium devices (desktops, 992px and below)
 * Change container width to 750px with 12 columns
 */
@include media($desktop) {

	/*
	 * Off Canvas
	 */
	.off_canvas_navigation {
		#off-canvas-trigger,
		#off-canvas {
			display: block;
		}
		
		#primary-menu-trigger,
		#primary-menu {
			display: none;
		}
	}
	
	.toggle_navigation {
		#off-canvas-trigger,
		#off-canvas {
			display: none;
		}
		
		#primary-menu-trigger {
			@include inline-block();
		}

		#primary-menu {
			display: none;
		}
	}

	// Is admin bar is present
	.admin-bar {
		.off-canvas {
			top: 32px;
		}
	}

	/*
	 * Navigation
	 */
	nav.navigation {
		float: none;
	}

	ul.navigation-menu {
		> li {
			border-right: 0;
			border-top: 1px solid rgba(#f5f5f5, .4);
			display: block;
			float: none;
			margin-left: 0px;
						
			> a {
				line-height: 38px;
				padding: 0 12px;
				text-align: left;
				text-transform: uppercase;
			}

			ul.sub-menu {
				border: 0;
				margin: 0;
				position: relative;				
				width: auto;
				
				li {
					 ul.sub-menu {
						left: 0;
						position: relative;
						width: auto;
					}
				}
			}				
		}
	}
	
	/*
	 * Slides
	 */
	 .slide-caption {
	 		display: none;
	 }

	.flex-direction-nav {
		.flex-prev {
			display: none;
			opacity: 0;
			left: 10px;
		}
		.flex-next {
			display: none;
			opacity: 0;
			right: 10px;
		}
	}

	/*
	 * Galleries
	 */
	.gallery-item {
		.gallery-3-col & {
			margin-right: 1.6%;
			width: 49.2%;
			
			&:nth-child(3n) {
				margin-right: 1.6%;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		.gallery-4-col & {
			margin-right: 1.6%;
			margin-bottom: 1.6%;
			width: 49.2%;

			&:nth-child(4n) {
				margin-right: 1.6%;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

}

/*
 * Small devices (tablets, 768px and below)
 * Change container width to 480px with 8 columns
 */
@include media($tablet) {

	// Is admin bar is present
	.admin-bar {
		.off-canvas {
			top: 46px;
		}
	}

	/*
	 * Order columns
	 */
	#sidebar-layout {
		.grid-columns {
			box-orient: vertical;
			display: flex;
			flex-direction: column;
		}
	}

	.content-area {
		order: 1;
	}
	
	.sidebar {
		order: 2;
	}

	/*
	 * Footer
	 */
	.footer-widgets {
		.widget {
			margin-bottom: $padding + 10;
		}
	}

	/*
	 * Grid Columns
	 */
	.grid-columns {
		[class*="grid_"] {
			@include reset-float();
		}
	}

	/*
	 * Gallery Item
	 */
	.gallery-item {
		.gallery-2-col &,
		.gallery-3-col &,
		.gallery-4-col &,
		.gallery-5-col &,
		.gallery-masonry-2-col & {
			float: none;
			margin-bottom: 10px;
			margin-right: 0;
			width: 100%;

			&:nth-child(2n),
			&:nth-child(3n),
			&:nth-child(4n),
			&:nth-child(5n) {
				margin-right: 0;
			}
		}
	}

	/*
	 * Slides
	 */
	.flex-control-nav,
	.flex-pauseplay {
		display: none;
	}

	/*
	 * Comments
	 */
	.comment-form {
		input.form-control {
			margin-right: 0;
			margin-bottom: 5px;
			width: 100%;
		}
	}

}