// ---------------------------------------------------
// Compass
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/images";

// ---------------------------------------------------
// Susy
@import "all/plugins/susy";

// ---------------------------------------------------
// Settings
@import "all/functions";
@import "all/variables";
@import "all/mixins";

// ---------------------------------------------------
// Modules
@import "all/modules/buttons";

// Place SKU below price
.product_meta {
	margin: 8px 0;
}

.product-short {
	color: #b0b0b0;
	p {
		margin: 0 0 10px;
	}
}

// Top cart
.top-cart-container {
	font-size: 24px;
	.top-cart {
		color: $color-0;
		font-weight: 700;
	}
	a.cart-contents {
		color: $color-2;
		&:hover {
			color: $color-3;
		}
	}
}

/* ==========================================================================
	 Woocommerce
	 ========================================================================== */

.woocommerce,
.woocommerce-page {
	
	// WC Products List
	// ------------------------------
	ul.products {
		@include reset-list();
		
		li.product {			
			@include woocommerce-product();

			animation-name: fadeIn;
			animation-duration: 1s;
			animation-delay: .6s;
			animation-fill-mode: both;
			
			// 3 Columns
			margin-right: 3.8%;
			width: 30.8%;

			&:nth-child(3n) {
				margin-right: 0;
			}

			a {
				img {
					display: block;
					margin: 0 auto;
					padding: 0 0 10px;
					height: 190px;
					width: auto;
					@include box-shadow(none);
				}

				&:hover {
					img {
						@include box-shadow(none);
					}
				}
			}

			h3 {
				border-top: 3px solid #000;
				color: $base-font-color;
				font-size: 14px;
				font-weight: 400;
				margin: 0;
				padding: 10px 0 5px;
				text-transform: uppercase;
			}

			.price {
				color: $color-0 !important;
				display: block;
				font-size: 16px !important;
				font-weight: bold;
				margin-bottom: 10px;
				
				ins {
					font-size: 16px !important;
					text-decoration: none;
					display: block;
				}

				del {
					color: rgba($color-0, .3);
					font-size: 16px !important;
					margin: -2px 0 0 0;
					display: block;
				}
			}

			.star-rating {
				display: none;
			}

			.add_to_cart_button {
				//@extend .button;
				color: #000;
				background: transparent;
				background-image: none;
				box-shadow: none;
				border: 0;
				font-weight: normal;
				padding: 0;
				margin: 0;
				text-shadow: none;
				text-transform: lowercase;
				&:hover {
					background: transparent !important;
					color: $color-0 !important;
				}
				&:before {
						@include font-stack-icon();
					content: "\f18e";
					padding-right: 5px;
					color: #B7B7B7;
				}
				// posicionar boton en los box de los productos
				// position: absolute;
				// bottom: 15px;
				// left: 0;
				// right: 0;
				// top: auto !important;
			}

		}
	}
	
	// Related & Up Sells Products List
	// ------------------------------
	div.related.products,
	div.upsells.products,
	div.cross-sells, {
		clear: both;

		h2 {
			border-bottom: 1px solid #000;
			font-size: 14px;
			font-weight: 700;
			margin: 20px 0;
			padding: 0 0 10px;
			text-transform: uppercase;
		}

	}
	
	.related.products,
	.upsells.products {
		ul li.product,
		ul.products li.product {
			@include woocommerce-product();
			margin-right: 3.8%;
			///height: auto;
			width: 30.8%;
			
			&:nth-child(3n) {
				margin-right: 0;
			}

			a {
				img {
					display: block;
					padding: 0 0 10px;
					margin: 0 auto;
					width: auto;
					@include box-shadow(none);
				}

				&:hover {
					img {
						@include box-shadow(none);
					}
				}
			}

		}

		ul.products li.first {
			clear: none;
		}
	}
	
	.cross-sells {
		ul.products li.product {
			@include woocommerce-product();
			margin-right: 3.8%;
			width: 48%;
			
			&:nth-child(3n) {
				margin-right: 3.8%;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
	
	// WC Buttons
	// ------------------------------
	a.button,
	button.button,
	input.button,
	#respond input#submit,
	#content input.button {
		@extend .button;
		&:hover {
			background: darken($color-0, 5%) !important;
			color: #fff !important;
		}
	}

	// Single Products Images
	// ------------------------------
	div.product,
	#content div.product {

		// WC Single Images
		// ------------------------------ 
		div.images img {
			border: 1px solid #eee;
			@include box-shadow(none);
		}

		// WC Tabs
		// ------------------------------
		.woocommerce-tabs {

			ul.tabs {
				border: 0;
				margin: 0;
				padding: 0;
				&:before {
					border-bottom: 0;
				}
				li {
					background: #eee;
					border: 1px solid #ccc;
					border-bottom: 0;
					border-radius: 0;
					box-shadow: none;
					display: inline-block;
					margin: 0;
					&.active {
						background: #fff;
					}
					&:before {
						left: 0;
						-webkit-border-bottom-right-radius: 0;
						-moz-border-bottom-right-radius: 0;
						border-bottom-right-radius: 0;
						border-width: 0;
						box-shadow: none;
					}
					&:after {
						border: 0;
						bottom: 0;
						width: 0;
						height: 0;
					}
				}
			}

			.panel {
				border: 1px solid #ccc;
				margin: 0 0 2em;
				padding: $padding;
			}
		}

	}
	
	// On Sale Products
	// ------------------------------
	span.onsale {
		background: $color-0;
		animation-duration: 1.2s;
		animation-delay: 1.2s;
		animation-iteration-count: 3;
		transition: all .1s ease-in-out;
		@include background(linear-gradient(center top, $color-0 0%, $color-0 100%));
	}
	
	// WC Buttonus
	// ------------------------------
	
	// Add Cart
	a.added_to_cart {
		display: block;
		text-align: center;
	}
	
	// Added
	a.button.added:before,
	button.button.added:before,
	input.button.added:before,
	#respond input#submit.added:before,
	#content input.button.added:before {
		top: 8px;
		color: #111;
		text-shadow: none;
	}
	
	// Loading State
	a.button.loading:before,
	button.button.loading:before,
	input.button.loading:before,
	#respond input#submit.loading:before,
	#content input.button.loading:before {
		border-radius: 6px;
	}
	
	// Checkout
	a.button.alt,
	button.button.alt,
	input.button.alt,
	#respond input#submit.alt,
	#content input.button.alt {
		background: $color-0;
		background: -webkit-gradient(linear,left top,left bottom,from(#fe4304),to(#ce3501));
		border-color: $color-0;
		color: #ffffff;
	}
	
	// Single Add to Cart
	div.product form.cart .button.single_add_to_cart_button {
		background-image: none !important;
		background: $color-0 !important;
		text-transform: uppercase !important;
		font-size: 13px !important;
		padding: 1.1em 1.2em 1em 1.2em !important;
		margin: 0px !important;
	}

	div.product form.cart,
	#content div.product form.cart {
		margin-top: 2em;
	}
	
	// Single Price
	// ------------------------------
	div.product p.price,
	#content div.product p.price {
		color: $color-0;
		font-size: 24px !important;
		font-weight: bold !important;
		margin: .8em 0;
		padding: 0 !important;
	}

	div.product span.price,
	div.product p.price,
	#content div.product span.price,
	#content div.product p.price {
		color: $color-0;
		ins, del {
			font-size: inherit;
		}
		ins {
			text-decoration: none;
		}
	}
	
	// Single Stock
	// ------------------------------
	div.product .stock,
	#content div.product .stock {
		font-size: 1.2em;
	}
	
	// Single Images + Summany Columns
	// ------------------------------
	#content div.product div.images,
	div.product div.images {
		width: 36%;
	}
	
	#content div.product div.summary,
	div.product div.summary {
		width: 60%;
	}
	
	// Single Images Thumnails
	// ------------------------------
	div.product div.thumbnails a {
		margin-bottom: 3.8%;
	}
	
	// WC Widgets
	// ------------------------------
	ul.cart_list li,
	ul.product_list_widget li {
		ins {
			text-decoration: none;
		}
	}
		
	// Cart Variation P
	// ------------------------------
	td.product-name dl.variation dd p:last-child {
		margin: 0;
	}


} // .woocommerce, .woocommerce-page ( end )



// WC Heading Tabs Panel
// ------------------------------
#tab-description h2,
#tab-reviews h2,
#tab-additional_information h2,
.cart_totals h2,
.shipping_calculator h2,
form.checkout h3 {
	font-size: 18px;
	margin: 0 0 10px;
}

// Product Variable
// ------------------------------
.product-type-variable .single_variation_wrap .single_variation {
	margin-bottom: 10px; 
}

.product-type-variable .single_variation_wrap .single_variation span.price {
	font-size: 22px !important;
	ins, del {
		font-size: 22px !important;
	}

	ins {
		text-decoration: none !important;
	}

}

// Single Products
// ------------------------------
.single-product {
	
	// Quanity Input
	.quantity .minus,
	#content .quantity .minus,
	.quantity .minus:hover {
		width: 40px !important;
		height: 40px !important;
		float: left !important;
		position: static !important;
		box-shadow: none !important;
		border-radius: 0 !important;
		background: #f0f0f0 !important;
		border-right: 0 !important;
	}
	
	.quantity .plus,
	#content .quantity .plus,	
	.quantity .plus:hover {
		width: 40px !important;
		height: 40px !important;
		float: left !important;
		position: static !important;
		box-shadow: none !important;
		border-bottom: 1px solid #c7c0c7 !important;
		border-radius: 0 !important;
		background: #f0f0f0 !important;
		border-left: 0 !important;
	}
	
	.quantity input.qty,
	#content .quantity input.qty {
		width: 40px;
		height: 40px;
		border-right: 1px solid #c7c0c7;
	}
	
	div.product form.cart div.quantity,
	#content div.product form.cart div.quantity {
		margin: 0 10px 0 0;
		width: 125px;
	}
	
	.quantity .minus,
	#content .quantity .minus {
		top: 15px;
	}
}

// Home: WooCommer Featured and
// Latest Products
// ------------------------------
.home {
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		@include woocommerce-product();
		clear: none;
		margin-right: 3.8%;
		width: 22.05%;

		&:nth-child(2n) {
			animation-delay: .8s;
		}
				
		&:nth-child(4n) {
			margin-right: 0;
			animation-delay: 1.2s;
		}

		&:nth-child(3n) {
			margin-right: 3.8%;
			animation-delay: 1s;
		}
	}
}