/* ==========================================================================
	 Layout
	 ========================================================================== */

@include container-class() {
	@include container-width($container-width, $padding);
}

// Container
#container {
	background: $container-background-color;
	margin: 0 auto;
	max-width: $max-width;
	position: relative;
}

// Group content
.content-inner {
	margin: $padding 0 0;
	position: relative;
}

// Content column
.content-area {
	@include span(8);
	&.right {
		@include span(8 last);
		margin-right: 0;
	}
}

// Sidebar column
.widget-area {
	@include span(4 last);
	&.left {
		@include span(4);
	}
}

// Group main content
.main {
	margin: 0 0 $padding*2;
}

// Featured slider
#featured {
	margin: 15px 0 $padding;
}

.homepage-sidebar {
	margin-bottom: 40px;
}

.service-image,
.service-content {
	margin-bottom: 10px;
}