// Configuration
// ------------------------------------------------
$configuration: (
	boxed: true
);

// Browser Support Settings
// ------------------------------------------------
$browser-minimum-versions: (
	'chrome':  '30',
	'firefox': '25',
	'ie':      '8',
	'safari':  '5',
	'opera':   '12'
) !global;

// Compass Vertical Rhythm Settings
// ------------------------------------------------
$relative-font-sizing : false;
$base-font-size: 13px;
$base-line-height: 18px;
$rhythm-font-unit: "px";
$round-to-nearest-half-line: true;

// Colour Palette
// ------------------------------------------------
$palette: (
	primary: 		#2acbf5,
	secondary: 	#cccccc,
	tertiary: 	#02C1F3,
	body: 			#f2f2f2,
	content:  	#ffffff,
	link: 			#3498db,
	loud: 			#000000,
	quiet:			#cccccc,
	meta:				#666666,
	meta-on:		#222222
);

// Font Stacks
// ------------------------------------------------
$open-sans: 'Open Sans', sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$geo-times: Georgia, Times, 'Times New Roman', serif;
$monospace: Menlo, Monaco, Courier, MonoSpace, Consolas;
$icon-font: 'FontAwesome';

// Font And Others Settings
// ------------------------------------------------
$base-font-color: #333;
$base-font-family: $helvetica;
$base-font-weight: 400;
$code-font-family: $monospace;
$heading-font-color: #333;
$heading-font-family: $helvetica;
$heading-font-line-height: 1.1;
$heading-font-weight: 700;
$icon-font-family: $icon-font;
$logo-size: 200px;
$menu-font-size: 14px;
$menu-font-weight: normal;
$menu-font-family: $helvetica;
$menu-text-shadow: none;
$menu-text-transform: capitalize;
$sub-menu-font-size: 14px;
$fixed-font-family: $monospace;
$fixed-font-size: 13px;
$fixed-line-height: 18px;
$footer-font-color: #333;
$footer-font-size: 13px;
$footer-link-color: color(link);
$footer-heading-font-size: 18px;
$footer-heading-font-color: #333;
$widget-heading-font-color: #333;
$widget-heading-font-size: 18px;

// Font Heading Settings
// ------------------------------------------------
$h1: 27px !default;
$h2: 24px !default;
$h3: 18px !default;
$h4: 16px !default;
$h5: 14px !default;
$h6: 12px !default;

// Buttons Settings
// ------------------------------------------------
$button-background-color: color(primary);
$button-border-radius: 4px;
$button-border: 1px solid darken($button-background-color, 8%);
$button-font-color: #fff;
$button-font-size: 14px;
$button-font-weight: normal;
$button-padding-box: 6px 12px;
$button-box-shadow: none;
$button-text-shadow: none;

// Susy Grid Settings
// ------------------------------------------------
$container-style: magic;
$container-width: 1000px;
$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 20px;

$susy: (
	columns: $total-columns,
	gutters: $gutter-width / $column-width,
	column-width: $column-width,
	container: $container-width,
	math: if( $container-style == magic, fluid, $container-style ),
	global-box-sizing: border-box,
	use-custom: (
		rem: false
	)
);

// Breakpoints Settings
// ------------------------------------------------
$all-breakpoints: (
	phone-small: 320px,
	phone-medium: 480px,
	tablet-small: 750px,
	tablet-medium: 767px,
	desktop: 992px,
	large: 1200px
);

$all-layout-columns: (
	phone: 4,
	tablet: 8,
	desktop: 12
);

$breakpoint-default-feature: max-width;
$breakpoint-no-queries: false;
$breakpoint-no-query-fallbacks: true;
$breakpoint-base-font-size: $base-font-size;

// Others
// ------------------------------------------------
$border-radius: 4px;
$max-width: $container-width;
$padding: 20px;