/* ----------------------------------------------------------------
	Base Colors
-----------------------------------------------------------------*/
/* ---------------------------------------------------------------- */
/* Line Height Variables
/* ---------------------------------------------------------------- */
/* ----------------------------------------------------------------
	Margins
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Font Families
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Font Sizes
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Layouts
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Helpers
-----------------------------------------------------------------*/
.anva-meta-box input[type="text"],
.anva-meta-box input[type="tel"],
.anva-meta-box input[type="number"],
.anva-meta-box input[type="date"],
.anva-meta-box input[type="time"],
.anva-meta-box select,
.anva-meta-box textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.anva-meta-box input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.anva-meta-box input.checkbox,
.anva-meta-box input.meta-radio {
  margin: 0 10px 5px 0;
  float: left;
  clear: both;
}

.anva-meta-box .nav-tab-wrapper {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0 !important;
  padding-left: 10px !important;
}

.anva-meta-box .nav-tab-active {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.anva-meta-box .field-radio label,
.anva-meta-box .field-multicheck label {
  float: left;
  max-width: 90%;
  line-height: 16px;
  margin-bottom: 5px;
}

.anva-meta-box h4 {
  margin-bottom: 10px;
}

.anva-meta-box .meta-group {
  margin-bottom: 8px;
}

.anva-meta-box .meta-option:before,
.anva-meta-box .meta-option:after {
  content: " ";
  display: table;
}

.anva-meta-box .meta-option:after {
  clear: both;
}

.anva-meta-box .meta-explain {
  font-size: 12px;
  margin-top: 10px;
  line-height: 16px;
  color: #777;
}

.anva-meta-box .field-multicheck label {
  display: block;
  margin: 3px 0;
}

.anva-meta-desc {
  border-bottom: 1px solid #e5e5e5;
  color: #888;
  font-size: 13px;
  font-style: italic;
  margin: 0 -12px;
  padding: 8px 12px 12px;
}

#normal-sortables .meta-controls,
#normal-sortables .meta-explain {
  float: left;
  margin-right: 2%;
  width: 48%;
}

#normal-sortables .meta-explain {
  margin-right: 0;
}

#side-sortables .meta-controls,
#side-sortables .meta-explain {
  float: none;
  margin-right: 0;
  width: 100%;
}

#side-sortables .meta-controls:before,
#side-sortables .meta-controls:after {
  content: " ";
  display: table;
}

#side-sortables .meta-controls:after {
  clear: both;
}

#side-sortables .meta-explain {
  margin-right: 0;
}

.meta-content-builder-export input[type="file"] {
  border: 1px solid #eee;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.meta-content-builder {
  margin-bottom: 20px;
}

.meta-content-builder .meta-explain {
  float: none !important;
  margin-bottom: 20px;
  width: 100% !important;
}

#anva_gallery_thumbs {
  margin: 10px 0;
}

#anva_gallery_thumbs:after {
  content: '';
  display: table;
  clear: both;
}

#anva_gallery_thumbs li {
  position: relative;
  float: left;
  padding: 8px;
  margin: 0;
  color: #464646;
  cursor: pointer;
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 20%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#anva_gallery_thumbs li:hover .anva_gallery_remove {
  opacity: 1;
}

#anva_gallery_thumbs li.attachment .landscape img {
  max-height: 100%;
  width: auto;
}

#anva_gallery_thumbs li.attachment .portrait img {
  height: auto;
  max-width: 100%;
}

#anva_gallery_thumbs li .attachment-preview {
  position: relative;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  background: #eee;
  cursor: pointer;
}

#anva_gallery_thumbs li .attachment-preview:before {
  content: '';
  display: block;
  padding-top: 100%;
}

#anva_gallery_thumbs li .thumbnail {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 0.1s;
     -moz-transition: opacity 0.1s;
       -o-transition: opacity 0.1s;
          transition: opacity 0.1s;
}

#anva_gallery_thumbs li .thumbnail:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#anva_gallery_thumbs li .thumbnail .centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(50%, 50%);
     -moz-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
       -o-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

#anva_gallery_thumbs li .thumbnail .centered img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#anva_gallery_thumbs span {
  color: #777;
}

@media screen and (min-width: 1384px) {
  #anva_gallery_thumbs li {
    width: 16.66%;
  }
}

@media screen and (min-width: 1595px) {
  #anva_gallery_thumbs li {
    width: 14.28%;
  }
}

@media screen and (min-width: 1715px) {
  #anva_gallery_thumbs li {
    width: 12.5%;
  }
}

@media screen and (min-width: 1895px) {
  #anva_gallery_thumbs li {
    width: 11.11%;
  }
}

@media screen and (max-width: 960px) {
  #anva_gallery_thumbs li {
    width: 25%;
  }
}

@media screen and (max-width: 565px) {
  #anva_gallery_thumbs li {
    width: 33.33%;
  }
}

@media screen and (max-width: 415px) {
  #anva_gallery_thumbs li {
    width: 50%;
  }
}

.anva_gallery_remove {
  opacity: 0;
  display: block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  outline: 0;
  background: #eee;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: opacity 0.1s ease;
     -moz-transition: opacity 0.1s ease;
       -o-transition: opacity 0.1s ease;
          transition: opacity 0.1s ease;
  color: #222;
  font-weight: 700;
  text-decoration: none;
}

.anva_gallery_remove:hover {
  color: red;
}

.anva_gallery_remove .icon {
  display: block;
  background-position: -1px 0;
  height: 15px;
  width: 15px;
  margin: 5px;
}

#anva_gallery_spinner,
#anva_gallery_spinner .spinner {
  display: none;
  visibility: visible !important;
  float: none;
  margin: 5px auto;
}

.anva-gallery-actions {
  border: 1px solid #e5e5e5;
  padding: 10px 18px;
  clear: both;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
  margin: 0 -12px -24px;
  text-align: right;
}
