/* ----------------------------------------------------------------
	Base Colors
-----------------------------------------------------------------*/
/* ---------------------------------------------------------------- */
/* Line Height Variables
/* ---------------------------------------------------------------- */
/* ----------------------------------------------------------------
	Margins
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Font Families
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Font Sizes
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Layouts
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Helpers
-----------------------------------------------------------------*/
.anva-meta-box input[type="text"],
.anva-meta-box input[type="tel"],
.anva-meta-box input[type="number"],
.anva-meta-box input[type="date"],
.anva-meta-box input[type="time"],
.anva-meta-box select,
.anva-meta-box textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin: 0;
  width: 100%;
}

.anva-meta-box input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.anva-meta-box input.anva-checkbox,
.anva-meta-box input.anva-radio {
  margin: 0 10px 5px 0;
  float: left;
  clear: both;
}

.anva-meta-box .ui-spinner {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 5px;
}

.anva-meta-box .anva-spinner {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.anva-meta-box .anva-spinner:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.anva-meta-box .nav-tab-wrapper {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0 !important;
  padding-left: 10px !important;
}

.anva-meta-box .nav-tab-active {
  background: #fff;
  border-bottom: 1px solid #fff;
  font-size: 13px;
}

.anva-meta-box .field-radio label,
.anva-meta-box .field-multicheck label {
  float: left;
  max-width: 90%;
  line-height: 16px;
  margin-bottom: 5px;
}

.anva-meta-box h4 {
  margin-bottom: 10px;
}

.anva-meta-box .meta-group {
  margin-bottom: 8px;
}

.anva-meta-box .meta-option:before,
.anva-meta-box .meta-option:after {
  content: " ";
  display: table;
}

.anva-meta-box .meta-option:after {
  clear: both;
}

.anva-meta-box .meta-explain {
  font-size: 12px;
  margin-top: 10px;
  line-height: 16px;
  color: #777;
}

.anva-meta-box .field-multicheck label {
  display: block;
  margin: 3px 0;
}

.anva-meta-desc {
  border-bottom: 1px solid #e5e5e5;
  color: #888;
  font-size: 13px;
  font-style: italic;
  margin: 0 -12px;
  padding: 8px 12px 12px;
}

#normal-sortables .meta-controls,
#normal-sortables .meta-explain {
  float: left;
  margin-right: 2%;
  width: 48%;
}

#normal-sortables .meta-explain {
  margin-right: 0;
}

#side-sortables .meta-controls,
#side-sortables .meta-explain {
  float: none;
  margin-right: 0;
  width: 100%;
}

#side-sortables .meta-controls:before,
#side-sortables .meta-controls:after {
  content: " ";
  display: table;
}

#side-sortables .meta-controls:after {
  clear: both;
}

#side-sortables .meta-explain {
  margin-right: 0;
}

.menu-icon-portfolio .wp-menu-image {
  overflow: hidden;
}

.menu-icon-portfolio img {
  position: relative;
  top: -1px;
}

.menu-icon-portfolio:hover img,
.wp-menu-open .menu-icon-portfolio img {
  top: -23px;
}

.tzp-metabox > p {
  margin-bottom: 2em;
}

.tzp-field:before,
.tzp-field:after {
  content: ' ';
  display: table;
}

.tzp-field:after {
  clear: both;
}

.tzp-field {
  clear: both;
  margin-top: 1em;
}

.tzp-metabox label {
  display: block;
  margin-top: 5px;
}

.tzp-left > p {
  display: block;
  margin-top: 5px;
}

.tzp-left {
  float: left;
  vertical-align: top;
  width: 20%;
}

.tzp-right {
  float: right;
  vertical-align: top;
  width: 80%;
}

.tzp-desc {
  margin-top: 0.5em;
  margin-left: 5px;
}

.tzp-gallery-upload-desc {
  display: inline;
}

.tzp-metabox input[type="text"],
.tzp-metabox textarea {
  vertical-align: top;
  width: 100%;
}

.tzp-metabox input[type="text"].file {
  margin-right: 10px;
  width: 85%;
}

.tzp-gallery-thumbs {
  margin-top: 20px;
}

.tzp-inline-checkboxes {
  margin: 5px 0 0 3px;
}

.tzp-inline-checkboxes li {
  display: inline;
  margin-right: 20px;
}

.tzp-inline-checkboxes label {
  display: inline;
  margin-left: 3px;
}

.tzp-metabox input[type="text"].tzp-color-picker {
  width: 65px;
  font-family: monospace;
  text-align: center;
  line-height: 16px;
}

.tzp-metabox .wp-color-result {
  background-color: #F9F9F9;
  border: 1px solid #bbb;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  margin: 0 6px 6px 0;
  position: relative;
  top: 1px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  display: inline-block;
  padding-left: 30px;
}

.tzp-metabox .wp-color-result:after {
  background: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: -o-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
  color: #333;
  text-shadow: 0 1px 0 #fff;
  -webkit-border-radius: inherit;
          border-radius: inherit;
  border-left: 1px solid #bbb;
  content: attr(title);
  display: block;
  font-size: 11px;
  line-height: 22px;
  margin-left: 3px;
  padding: 0 6px;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
}

.tzp-metabox .wp-picker-clear,
.tzp-metabox .wp-picker-default {
  margin-left: 10px;
  margin-top: 2px;
  vertical-align: top;
}

.tzp-gallery-thumbs li {
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
}

.tzp-gallery-thumbs img {
  vertical-align: bottom;
}
