@import 'config/variables';
@import 'config/mixins';
@import 'components/switch';
@import 'components/radio-checkbox';

/*
/* Admin Global Syles
/* --------------------------------------------------------- */

@import 'general';
@import 'sections';
@import 'options';
@import 'notices';

/* --------------------------------------------------------- */
/* Buttons
/* --------------------------------------------------------- */

.anva-framework {

    .group-button {
        border-collapse: separate;
        display: table;
        position: relative;

        span {
            display: table-cell;
            font-size: 0;
            position: relative;
            white-space: nowrap;
            width: 1%;
            vertical-align: middle;

            .button {
                border-radius: 0;
                box-shadow: none;
                height: 33px;
            }
        }
    }

    .controls .sidebar,
    .controls .upload {
        display: table-cell;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 33px;
        box-shadow: none;
        border-right: 0;
    }

    .anva-input-file {
        margin-bottom: 10px;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 0;
        box-sizing: border-box;
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 10px;
        padding: 5px 8px 6px 8px;
        width: 100%;
    }

    .screenshot {
        box-sizing: border-box;
        margin: 15px 0;
        margin-left: 1px;
        max-width: 100%;
        position: relative;

        &:hover .remove-image {
            opacity: 1;
        }

        .no_image {
            .file_link {
                margin-left: 20px;
            }

            .remove-button {
                bottom: 0px;
            }
        }

        img {
            background: #fafafa;
            border: 1px solid #eee;
            box-sizing: border-box;
            display: block;
            margin: 0 auto;
            max-width: 100%;
            padding: 4px;
        }

        .remove-image {
            opacity: 0;
            cursor: pointer;
            display: block;
            height: 24px;
            width: 24px;
            line-height: 24px;
            padding: 0;
            position: absolute;
            z-index: 10;
            top: -5px;
            right: -5px;
            outline: 0;
            background: #eee;
            box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(black,.15);
            transition: opacity .1s ease;
            color: #222;
            font-weight: 700;
            text-decoration: none;
            text-align: center;

            &:hover {
                color: red;
            }
        }
    }

    // Upload Option
    .section-upload,
    .section-background {
        .screenshot.has-image {
            border: 1px solid #ddd;
            border-radius: 0;
            padding: 15px;
            max-width: 100%;
        }
    }

}

.anva-framework .section-radio label,
.anva-framework .section-multicheck label {
    max-width: 90%;
    line-height: 16px;
}

/* --------------------------------------------------------- */
/* Helpers
/* --------------------------------------------------------- */



// .anva-framework .controls .anva-border-width {
//     width: 80px;
//     float: left;
// }

// .anva-framework .controls .anva-border-style {
//     width: 120px;
//     float: left;
// }

.anva-framework .hide {
    display:none;
}

.anva-framework .anva-option-image {
    max-width: 340px;
    margin: 3px 0 18px 0;
}

.anva-framework .mini .controls select,
.anva-framework .section .mini .controls {
    width: 140px;
}

.anva-framework .mini .controls input,
.anva-framework .mini .controls {
    min-width:140px;
    width: 140px;
}

.anva-framework .mini .explain {
    max-width: 74%;
}

/* --------------------------------------------------------- */
/* Editor
/* --------------------------------------------------------- */

.anva-framework .section-editor .explain {
    max-width: 98%;
    float:none;
    margin-bottom:5px;
}

/* --------------------------------------------------------- */
/* Animations
/* --------------------------------------------------------- */

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.bounceIn {
  animation-name: bounceIn;
}
