.anva-meta-box {

	input[type="text"],
	input[type="tel"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	select,
	textarea {
		box-sizing: border-box;
		border-radius: 0;
		margin: 0;
		width: 100%;
	}

	input[type="checkbox"] {
		position: relative;
		top: 2px;
	}

	input.anva-checkbox,
	input.anva-radio {
		margin: 0 10px 5px 0;
		float: left;
		clear: both;
	}

	.ui-spinner {
		box-sizing: border-box;
		display: block;
		padding: 5px;
	}

	.anva-spinner {
		border: 0;
		box-shadow: none;
		&:focus {
			border: 0;
			box-shadow: none;
		}
	}

	.nav-tab-wrapper {
		border-bottom: 1px solid #ddd !important;
		padding-bottom: 0 !important;
	}

	.nav-tab {
		// background: #f6f6f6 url("images/ui-bg_highlight-soft_100_f6f6f6_1x100.png") 50% 50% repeat-x;;
		background: #e4e4e4;
		color: #555;
		// border: 1px solid #ddd;
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		font-weight: normal;
	  	line-height: 24px;
	  	min-width: 48px;
  		text-align: center;

  		&:hover {
  			background: #fff;
  		}
	}

	.nav-tab-active {
		background: #fff;
		border-bottom: 1px solid #fff;
	}

	.section-radio label,
	.section-multicheck label {
		float: left;
		max-width: 90%;
		line-height: 16px;
		margin-bottom: 5px;
	}

	h3 {
		display: none;
		padding: 8px 0 !important;
	}

	h4 {
		margin-bottom: 10px;
	}

	.group {
		margin-bottom: 8px;
	}

	.option {
		&:before,
		&:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
	}

	.explain {
		font-size: 12px;
		margin-top: 10px;
		line-height: 1.4;
		color: #777;
	}

	.section-multicheck {
		label {
			display: block;
			margin: 3px 0;
		}
	}

	.section-layout {
		.sidebar-layout {
			.item {
				margin-top: 10px;
				label {
					display: block;
					font-weight: bold;
					margin-bottom: 10px;
				}
			}
		}
	}

	.controls {
		.anva-input-label {
			display: block;
			// background: url(../images/fancy-select_2x.png) repeat-x;
		    background-size: 7px 32px;
		    border-radius: 0;
		    box-shadow: 0 0 4px #eee;
		    margin-bottom: 10px;
		    position: relative;
		    > span {
		    	position: absolute;
		    	width: 100%;
		    	top: 11px;
		    	left: 10px;
		    	color: #666;
		    }
		    select {
		    	margin-bottom: 0;
			    filter: alpha(opacity=0);
			    -moz-opacity: 0;
			    -khtml-opacity: 0;
			    opacity: 0;
			    position: relative;
			    height: 33px;
			    z-index: 2;
		    }
			&:before {
				content: "";
				border: 1px solid #dfdfdf;
			    border-radius: 0;
			    display: block;
			    line-height: 33px;
			    padding: 0 10px;
			    position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    z-index: 1;
			}
			&:after {
				content: "";
				background: url(../images/fancy-select-trigger_2x.png) no-repeat;
			    background-size: 25px 33px;
			    border-left: 1px solid #dfdfdf;
			    position: absolute;
			    top: 0;
			    right: 0;
			    width: 25px;
			    height: 33px;
			}
			select {
				margin: 0;
				border-radius: 0;
				border: 1px solid #dfdfdf;
				outline: none;
				display: inline-block;
				height: 33px;
				cursor: pointer;
			}
		}
	}

	.postbox {
		min-width: 0;
		border: 0;
		box-shadow: none;
		background: transparent;
	}

}

.section-description {
	border-bottom: 1px solid #e5e5e5;
	color: #888;
	font-size: 13px;
	font-style: italic;
	margin: 0;
	padding: 8px 0 12px;
}

// Context
#normal-sortables,
#advanced-sortables {
	.controls,
	.explain {
		float: left;
		padding-right: 4%;
		width: 54%;
	}

	.explain {
		max-width: 42%;
		margin-top: 0;
		padding-right: 0;
	}
}

#side-sortables {
	.controls,
	.explain {
		float: none;
		width: 100%;
	}

	.controls {
		&:before,
		&:after {
			content: "";
			display: table;
		}
		&:after {
			clear: both;
		}
	}
}


.tzp-metabox {
	display: block;
	padding: 10px 15px 20px;
	border: 1px solid #eee;
	margin-top: 15px;
	> p {
		margin: -10px -15px 15px;
		color: #999;
		font-style: italic;
		background: #f9f9f9;
		padding: 20px 15px;
		border-bottom: 1px solid #eee;
	}
}

.tzp-field:before,
.tzp-field:after {
	content: ' ';
	display: table;
}

.tzp-field:after { clear: both; }

.tzp-field {
	clear: both;
	margin-top: 1em;

	h4 {
		margin-top: 0;
	}
}

.tzp-metabox label { 
	display: block;
	margin-top: 5px;
}

.tzp-left {
	float: left;
	padding-right: 4%;
	vertical-align: top;
	width: 54%;
}

.tzp-right {
	float: left;
	vertical-align: top;
	width: 42%;
}

.tzp-desc {
	font-size: 12px;
	font-style: normal;
	line-height: 16px;
	color: #777;
	margin-top: 0;
}

.tzp-metabox input[type="text"],
.tzp-metabox textarea {
	vertical-align: top;
	width: 100%;
}

.tzp-metabox input[type="text"].file {
	margin-right: 10px;
	width: 78%;
}

.tzp-inline-checkboxes { margin: 5px 0 0 3px; }
.tzp-inline-checkboxes li { 
	margin: 0 0 5px;
}

.tzp-inline-checkboxes label {
	display: inline;
	margin-left: 3px;
}