#instantsearch {
    background: #fff;
    box-shadow: 0 8px 15px rgba(black, 0.1);
    display: none;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    position: absolute;
    width: 600px;
    z-index: 1001;

    .entry-meta {
        margin: 5px 0 0;
    }

    .view-all {
        background: rgba(black, 0.4);
        a {
            color: #fff;
            text-align: center;
        }
    }

    ul {
        display: block;
        border: 0;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
            display: block;
            float: none;
            margin: 0;
            padding: 10px 15px 10px 15px;
            width: 100%;

            a {
                display: block;
                line-height: normal;
                height: auto;
                padding: 0;
                text-align: left;
                width: 100%;
            }
        }
    }
}
