/* ==========================================================================
	 Layout
	 ========================================================================== */

@include container-class() {
	@include container-width($container-width, $padding);
}

// Container
.container {
	background-color: $container-background-color;
	box-shadow: 0 0 2px #ccc;
	position: relative;
}

// Group content
.site-content {
	margin: $padding 0 0;
	position: relative;
}

// Content column
.content-area {
	@include span(8);
	&.right {
		@include span(8 last);
		margin-right: 0;
	}
}

// Sidebar column
.widget-area {
	@include span(4 last);
	&.left {
		@include span(4);
	}
}

// Group main content
.site-main {
	margin: 0 0 $padding;
}

// Featured slider
.featured-container {
	margin: 0 0 $padding;
}

// Blog 2 columns
.blog-two-columns {
	.post {
		@include span(6);
		&:nth-child(2n) {
			@include last;
		}
	}
}
