/* 
	 Posts
	 ========================================================================== */

/* Post Wrapper */
.post {
	margin: 0 0 $padding;
	position: relative;
}

/* Post Titles */
.entry-title,
.page-title {
	margin: 0 0 .5em;
}

/* Entry Thumbnail */
.entry-thumbnail {
	line-height: 0;
	margin-bottom: $padding;
	img {
		transition: opacity .2s linear;
		&:hover {
			opacity: .8;
		}
	}
}

.medium-thumbnail {
	margin-bottom: $padding;
	@include span(5);
}

/* Post Meta */
.entry-meta {
	margin: 0 0 10px;
	a {
		color: #666;
		&:hover {
			color: #222;
			text-decoration: underline;
		}
	}
}

/* Categories */
.entry-category {
	a {
		color: #777;
		margin-right: 5px;
	}
}

/* Separator */
.sep-bullet {
	margin: 0 10px 0;
}

/* Titles Headline */
.headline {
	border-bottom: 1px solid #666;
	color: #666;
	margin: 0 0 $padding;
}

/* Summary Excerpt */
.entry-summary {
	
}

/* Post Navigation */
.entry-container {
	margin: 0 0 $padding;
}

.entry-content {
	margin: 0 0 $padding;
	padding: 0;
}

/* Pagination */

.nav-posts {
	list-style: none;
	padding-left: 0;
}

.page-nav {
	font-size: 1em;
	text-align: center;
	margin: 0;
	padding: 10px $padding;
}

.pagination {
	clear:both;
	padding:20px 0;
	position:relative;
	font-size:11px;
	line-height:13px;
}

.pagination span,
.pagination a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	padding:6px 9px 5px 9px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background: #ccc;
	border-radius: 3px;
}

.pagination a:hover{
	color:#fff;
	background: $color-0;
}

.pagination .current{
	padding:6px 9px 5px 9px;
	background: $color-0;
	color:#fff;
}