/* =Footer
----------------------------------------------- */

.site-footer {
	color: $footer-font-color;
	font-size: $footer-font-size;
	padding: 0 0 $padding;

	a {
		color: $footer-link-color;
		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		@include reset-list();
	}

}

/* Footer Widget Area */
.footer-widget {
	margin: 0 auto;
	
	.widget {
		background-color: transparent;
		border: 0;
		margin-bottom: $padding;
	}

	.widget-title {
		color: $footer-heading-font-color;
		font-size: $footer-heading-font-size;
	}

}

/* Footer Copyright */
.footer-sub-content {
	clear: both;

	p {
		margin: 0;
	}

}

#gotop {
	font-size: 48px;
	position: fixed;
	bottom: 10px;
	right: $padding;
	opacity: .6;

	&:hover {
		opacity: 1;
	}
	
}
