/* =Footer
----------------------------------------------- */

.site-footer {
	font-size: $footer-font-size;
	padding: $padding 0;
	a {
		color: $color-0;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		@include reset-list();
	}
}

/* Footer Widget Area */
.footer-widget {
	margin: 0 auto $padding;
	
	.widget {
		background-color: transparent;
		border: 0;
		margin-bottom: $padding;
		a {
			color: $link-color;
		}
	}
	.widget-title {
		color: $footer-heading-font-color;
		font-size: $footer-heading-font-size;
	}
}

/* Footer Copyright */
.footer-sub-content {
	clear: both;
	p {
		margin: 0;
	}
}

#gotop {
	font-size: 48px;
	position: fixed;
	bottom: 10px;
	right: $padding;
	opacity: .6;
	&:hover {
		opacity: 1;
	}
}
