/* =Forms
----------------------------------------------- */

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}

/*
 * color style for Inputs Text
 */
input[type="datetime"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
select,
textarea {
	border: 1px solid #c9c9c9;
	color: #2a2a2a;
	font-size: $base-font-size;
	outline: 0;
	padding: 5px;
	border-radius: 0;
	@include font-stack-body;
}

input[type="search"] {
	box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	position: relative;
	top: 3px;
}
