/*
 * Typography
 */

.size-2x {
	font-size: 120%;
}

.size-3x {
	font-size: 150;
}

.size-4x {
	font-size: 180%;
}

.fixed {
	font-family: $fixed-font-family;
	font-size: $fixed-font-size;
	line-height: $fixed-line-height;
}

.quiet {
	font-color: $quiet-color;
}

.loud {
	font-color: $loud-color;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: 700;
}

.block-margins {
	margin: 1em 0;
}

.unordered-list {
	list-style-type: disc;
}

.ordered-list {
	list-style: decimal;
}

.reset-list {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.float-left  {
	float: left;
	margin-right: 1em;
}

.float-right {
	float: right;
	margin-left: 1em;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

/*
 * Notifications
 */
 
.alert {
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	font-weight: bold;
	margin-bottom: $padding;
	padding: 8px 15px;
	text-shadow: 0 1px 0 rgba(white, .5);
	border-radius: $border-radius;
}

.alert-block {
	color: $color-block;
	background-color: lighten($color-block, 35%);
	border-color: lighten($color-block, 35%);
}

.alert-error {
	color: $color-error;
	background-color: lighten($color-error, 40%);
	border-color: lighten($color-error, 35%);
}

.alert-success {
	color: $color-success;
	background-color: lighten($color-success, 40%);
	border-color: lighten($color-success, 35%);
}

.alert-info {
	color: $color-info;
	background-color: lighten($color-info, 40%);
	border-color: lighten($color-info, 35%);
}