/* --------------------------------------------------------- */
/* Sections
/* --------------------------------------------------------- */

.anva-framework {

    .section {
        @include clearfix();
        border-bottom: 1px solid #eee;
        margin: 0 -15px;
        padding: 15px;

        .heading {
            font-size: 14px;
            margin: 0 0 15px;
        }

        > .option {
            @include clearfix();
        }

        .controls {
            float: left;
            min-width: 320px;
            width: 54%;
            padding-right: 4%;

            input[type=text],
            input[type=number] {
                border-radius: 0;
                width: 100%;
            }

            select,
            textarea {
                margin-bottom: 10px;
                width: 100%;
            }

            input.wp-color-picker {
                margin-bottom: 0;
                height: 24px;
                width: 65px;
            }
        }

        .explain {
            color: $color-description;
            float: left;
            font-size: 13px;
            line-height: 18px;
            max-width: 42%;
        }
    }
}
