/*
 * Post Container
 */
.post,
.entry {
	position: relative;
	margin: 0 0 50px;
	padding: 0 0 50px;
	border-bottom: 2px solid #F5F5F5;
}

.article-wrapper {
	&:last-child {
		.post,
		.entry {
			border-bottom: 0;
			margin-bottom: 10px;
			padding-bottom: 0;
		}
	}
}

/*
 * Post Titles
 */

.page-title {
	margin-top: 30px;
	margin-bottom: 30px;
	h1 {
		padding: 0;
		margin: 0;
		line-height: 1;
		font-weight: 600;
		letter-spacing: 1px;
		color: #333;
		font-size: 28px;
		text-transform: uppercase;
	}
}

body:not(.single-post) {
	.entry-title {
		margin-bottom: 20px;
	}
}

.entry-title {
	h1,
	h2 {
		margin: 0;
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;

		a {
			&:hover {
				color: $theme-color;
			}
		}
	}
}

.entry-image,
.entry-image > a,
.entry-image img {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

.entry-image {
	margin-bottom: 20px;
	.post-list-small & {
		float: left;
		width: 300px;
		margin: 0 30px 0 0;
	}
}

.post-grid_item {
	.entry-title {
		font-size: 15px;
		line-height: 1.5em;
	}
}

/*
 * Entry Meta
 */
.entry-meta {
	color: color(meta);
	font-size: 12px;
	font-weight: bold;
	margin: 10px 2px 15px 2px;

	a {
		color: color(meta);
	}

	.sep {
		color: color(meta);
		font-weight: normal;
		padding: 0 7px;
	}

	.single-post & {
		margin-bottom: 30px;
	}

}

time.updated {
	display: none;
}

/*
 * Category
 */
.entry-category {

}

.entry-footer {
	margin-top: 20px;
}

.entry-tags {
	@include clearfix();

	i {
		position: relative;
		margin-right: 5px;
		top: 1px;
	}

	a {
		display: inline-block;
		margin-right: 4px;
		margin-bottom: 4px;
		padding: 3px 6px;
		border: 1px solid #e5e5e5;
		font-size: 13px !important;
		color: #666;
		border-radius: 2px;

		&:hover {
			border-color: $theme-color;
			color: $theme-color;
		}
	}
}

/*
 * Content
 */

.entry-content {
	// margin-bottom: 50px;
	position: relative;
	overflow: hidden;
}

.entry-summary {
	.post-list & {
		margin-top: 20px;
	}
}

/*
 * Pagination
 */
.pagination {
	margin: 20px 0 0;
	> .active {
		> a,
		> a:hover,
		> span,
		> span:focus,
		> span:hover,
		> a:focus {
			background: color(primary);
			border-color: darken(color(primary), 8%);
		}
	}
}

.post-navigation {
	+ .line {
		margin: 40px 0;
	}
}