// Inner container group
@include container-class() {
	@include container-width($max-width, $padding);
}

// Container
#container {
	background: color('content');
	position: relative;
	@include boxed-layout( $max-width );
}

#main {
	padding: 20px 30px;
}

// Content
.content-area {

}

// Sidebar
.widget-area {

}

.sidebar-layout-double {

}

.sidebar-layout-double-left {

}

.sidebar-layout-double-right {

}

// Group main content
.main {
	margin: 0 0 $padding*2;
}

// Featured slider
#featured {
	padding: 10px 30px;
}

.homepage-sidebar {
	margin-bottom: 40px;
}