// Inner container group
@include container-class() {
	@include container-width($max-width, 0);
}

/* Global wrapper */
#wrapper {
	min-width: $min-width;
}

/* Container */
#container {
	background: color('content');
	position: relative;
	@include boxed-layout( $max-width );
}

/* Main Content */
#main {
	padding: 20px 30px;
}

.password-content {
	text-align: center;

	.lock-icon {
		background: color(primary);
		width: 144px;
		height: 144px;
		font-size: 108px;
		line-height: 140px;
		display: block;
		font-weight: 500;
		margin: 20px auto 30px;
		color: #fff;
		text-align: center;
		cursor: default;
		border: 1px solid #cdbfe3;
		border-radius: 15%;
	}

	.password-error {
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
	}

}