/*
 * Post Container
 */
.post {
	margin-bottom: $padding;
	position: relative;
}

/*
 * Post Titles
 */
h1,
h2 {
	&.entry-title {
		margin: 0 0 10px;
	}
}

/*
 * Entry Thumbnail
 */
.entry-thumbnail {
	line-height: 0;
	margin-bottom: $padding;

	img {
		border: 4px solid #fff;
		border-radius: 4px;
		box-shadow: 0 0 0 1px #ddd;
		transition: opacity .2s linear;
		&:hover {
			opacity: .8;
		}
	}

}

.medium-thumbnail {
	margin-bottom: $padding;
	@include span-columns(5);
}

/*
 * Post Meta
 */
.entry-meta {
	color: color(meta);
	font-size: 12px;
	font-weight: bold;
	margin: 5px 2px 15px 2px;
}

time.updated {
	display: none;
}

/*
 * Categories
 */
.entry-category {
	a {
		color: color(meta);;
		margin-right: 5px;
	}
}

/*
 * Content
 */
.entry-container {
	margin-bottom: $padding;
}

.entry-content {
	margin-bottom: $padding;
}

.entry-summary {
	
}

/*
 * Pagination
 */
.pagination {
	> .active {
		> a,
		> a:hover,
		> span,
		> span:focus,
		> span:hover,
		> a:focus {
			background: color(primary);
			border-color: darken(color(primary), 8%);
		}
	}
}