#top {
	position: relative;
}

.header-content {
	padding: 20px 0;
	position: relative;
}

/*
 * Logo
 */
#brand {
	a.standard-logo {
		display: block;
		max-width: $logo-size;
	}
}

/*
 * Addons
 */
#addon {
	
	.social-media {
		&.top-social-media {
			margin: 0;
			text-align: right;
			li {
				float: none;
				@include inline-block();
				a {
					margin: 0 0 0 5px;
				}
			}
		}
	}
}

.addon-content {
	padding-top: 20px;
}