/* ---------------------------------------------------------------- */
/* Helpers
/* ---------------------------------------------------------------- */

/*
 * Modern Clearfix
 */
.clear,
.group {
	@include clearfix();
}

@if browser('ie') == '7' {
	/*
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */
	.clear,
	.group {
		*zoom: 1;
	}
}

.resetlist {
	@include reset-list();
}

/*
 * Full Width Elements
 */
.full-width {
	width: 100%;
}

.not-animated {
	opacity: 0;
}

/*
 * Remove Margin From Elements
 */
.no-margin {
	margin: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-margin-top {
	margin-top: 0;
}

.bottommargin {
	margin-bottom: 20px;
}

.topmargin {
	margin-top: 20px;
}

/*
 * Lines
 */
.line,
.double-line {
  clear: both;
  position: relative;
  width: 100%;
  margin: 60px 0;
  border-top: 1px solid #eee;
}

.divider {
  position: relative;
  overflow: hidden;
  margin: 35px 0;
  color: #e5e5e5;
  width: 100%;
}