/*
 * Modern Clearfix
 */
.clear,
.group {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@if browser('ie') == '7' {
	/*
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */
	.clear,
	.group {
		*zoom: 1;
	}
}

/*
 * Full Width Elements
 */
.full-width {
	width: 100%;
}

/*
 * Remove Margin From Elements
 */
.no-margin {
	margin: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-margin-top {
	margin-top: 0;
}