/*
 * Main widgets
 */
.widget {
	margin: 0 0 30px 0;
	
	ul {
		@include reset-list();
	}

	p:last-child {
		margin: 0;
	}
}

/*
 * WordPress Widgets
 */
.widget_calendar {
	#wp-calendar {
		width: 100%;
	}
}

/*
 * Anva Custom Posts
 */
.widget_anva_posts {
	ul.widget-posts {
		@include reset-list();
		margin-top: 20px;
		li {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px dashed #E5E5E5;

			&:first-child {
				margin-top: 0;
				padding-top: 0;
				border-top: 0;
			}

			.post-content {
				position: relative;
				overflow: hidden;
			}

			.post-title {
				h4 {
					margin: 0;
					font-size: 14px;
					font-weight: 600;
				}
			}

			.post-image {
				float: left;
				margin: 0 15px 0 0;
				text-align: center;
				img {
					max-width: 64px;
				}
			}

			.post-date {
				display: block;
				color: #999;
				margin: 8px 0 0;
				font-size: 13px;
				text-transform: capitalize;
			}
		}
	}
}

/*
 * Social Media
 */
.widget_social_media {
	.social-media {
		margin-top: 10px;
	}
}

/*
 * Custom Contact Info
 */
.widget_custom_contact {
	.widget-contact-info {
		> li {
			line-height: 20px;
			margin: 3px 0;
			.fa {
				font-size: 16px;
				padding-right: 5px;
			}
		}
	}
}

/*
 * Widget services
 */
.service-image,
.service-content {
	margin-bottom: 10px;
}