.anva-shcg-wrap {
    margin-top: -6px;
    padding: 0 0 12px;

    .anva-shcg-description {
        background-color: #F7F7F7;
        border-bottom: 1px solid #EEE;
        color: #777;
        margin: 0 -12px 20px;
        padding: 20px 15px;
    }

    > .select-wrapper {
        max-width: 54%;

        @include phone {
            max-width: 100%;
        }
    }
}

.anva-shcg-attr {
    box-sizing: border-box;
    width: 100%;
}

input.anva-shcg-attr {
    border-radius: 0;
    box-shadow: 0 0 4px #EEE;
    box-sizing: border-box;
    color: #666;
    height: 33px;
    margin-bottom: 10px;
    outline: 0;
    width: 100%;
}

.anva-shcg-title {
    h4 {
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: 0;
    }
}

.anva-shcg-section-title {
    h3 {
        font-size: 16px;
        border-bottom: 1px solid #f5f5f5;
        margin-bottom: 15px;
        margin-top: 0;
        padding-bottom: 15px;
    }
}

.anva-shcg-section-option {
    margin-bottom: 20px;

    .anva-shcg-option {
        @include clearfix();
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.anva-shcg-section {
    display: none;
    margin-top: 20px;

    &.active {
        display: block;
    }

    .anva-shcg-controls {
        float: left;
        margin-right: 4%;
        width: 54%;

        textarea {
            height: 200px;
            width: 100%;
            word-wrap: break-word;
        }
    }

    .anva-shcg-explain {
        color: #777;
        float: left;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 10px;
        width: 42%;
    }

    .anva-shcg-col {
        box-sizing: border-box;
        border: 1px solid #eee;
        margin-bottom: 20px;
        padding: 15px 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .anva-shcg-codearea {
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: inset 0 1px 4px rgba(black, 0.1);
        color: #666;
        font-size: 12px;
        font-family: monospace, monospace;
        padding: 20px;
        width: 100%;
        user-select: all;
    }

    .anva-textarea-wrap {
        margin-bottom: 10px;
    }
}
