/* ==========================================================================
   Widgets
   ========================================================================== */

.widget {
	margin: 0 0 $padding;
	ul {
		list-style: none;
		padding: 0;
	}

	p:last-child {
		margin: 0;
	}
}

.widget-title {
	color: $base-font-color;
	display: block;
	font-size: $widget-heading-font-size;
	margin: 0 0 .5em;
	@include font-stack-headers;
}


.widget_search {
	.search-field {
		float: none;
		width: 100%;
	}
	.search-submit {
		display: none;
	}
}
